table {

  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;

  th, td {
    @include core-16($tabular-numbers: true);
    padding: 0.7em 0.5em 0.7em 1em;
  }

  th {
    text-align: left;
    font-weight: bold;
    border: solid 1px #a1acb2;
    background-color: #dee0e2;
    color: #0b0c0c;
    line-height: 1.25em;

	  &.sortable {
	      cursor:pointer;
	      text-decoration: underline;
	  }

	  &.ascending:after {
	      display: inline-block;
	      font-size: 8px;
	      height: 8px;
	      padding-left: 5px;
	      vertical-align: top;
	      content: " \25B2";
	  }

	  &.descending:after {
	      display: inline-block;
	      font-size: 8px;
	      height: 8px;
	      padding-left: 5px;
	      vertical-align: top;
	      content: " \25BC";
	  }
	
  }

  td {
    background: #f7f7f7;
    border: dotted 1px #b8c6cc;
    text-align: right;
  }

  td:first-child { 
    width: 300px;
    text-align: left;
  }

  tr:nth-child(even) td {
    background: #fff;
  }

}